@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:ital,wght@0,400;1,100&display=swap');

footer{
    background-color: var(--nav-background-color); 
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    color: var(--accent2-color);

}

footer a {
    color: var(--accent2-color);
    text-decoration: none;
}

footer h3 a:hover {
    background-color: var(--accent1-color);
    color: var(--nav-background-color);
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

.social i:hover {
    color: var(--accent1-color);
}