@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:ital,wght@0,400;1,100&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #051c34   ;
    --secondary-color: #45597C ;
    --accent1-color: #ac5363;
    --accent2-color: #DCD7E2;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Quicksand";
    --paragraph-font: Roboto, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #051c34;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #051c34; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #051c34  ;
    --nav-link-color: #DCD7E2;
    --nav-background-color: #051c34;
    --nav-hover-link-color: #051c34;
    --nav-hover-background-color: #DCD7E2;
  }

  p {
    font: var(--paragraph-font);
    font-size: 30px;
  }

  a {
    font: var(--paragraph-font);
    font-size: 25px;
  }

  body {
    
   
    
    font-size: 18px;
    
  }
  img {
    display: block;
    margin: 0 auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
 