@import 'header.css';
@import 'footer.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:ital,wght@0,400;1,100&display=swap');

body section img{
   
    /* background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("../images/services.jpg") ; */
    font-family: "Quicksand";
   
    height: 800px;
    color: var(--headline-color-on-color);
    width: 100%;
    grid-row: 2;
    object-fit:cover;
    
}

