body {
    padding: 0;
    margin: 0;
}

main {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1;
    margin: 0 auto;
}
img {
    grid-column: 1/2;    
    grid-row: 1/2;
 
}
body main h1 {
    grid-column: 1/2;    
    grid-row: 1/2;
    text-align: right;
    z-index: 1;
    
}
.bg-gray {
    background-color: gray;
    color: red;
    grid-column: 2/3;
    grid-row: 1/2;
    
    
}

.bg-gray h2 {
    
    
}